<div class="container">
     {{# each products }}
    <div class="row">
        {{# each this }}
        <div class="col-lg-4 col-md-6 p-3 ">
            <div class="product-item picl">
              <div class="pi-img-wrapper wrcl">
                <img src="{{ this.imagepath}}" class="img-responsive img-top-round imgcl" alt="{{ this.title }}">
              </div>
              <h3><a href="shop-item.html">{{ this.description }}</a></h3>
              <div class="pi-price">${{ this.price }}</div>
            <a href="#" class="btn cart btncl">Add to cart</a>
              <div class="sticker sticker-new"></div>
            </div>
        </div>
          <div class="row visible-xs"><br></div>
          {{/each  }}
    </div>
    <br>
        {{/each}}
</div>