<section class="hero">
   <div class="container">
      <div class="hero-content pb-5 text-center">
         <h1 class="hero-heading">Order Confirmation</h1>
         <div id="success" class="alert alert-success" {{# if noMessage }}hidden{{/if}} >
         {{ successMsg }}
      </div>
   </div>
   </div>
</section>
<section>